@import './main.scss';

.goal-wrapper {
    margin: 0 auto;
    margin-bottom: 2%;
    width: 80%;
 }
 
 .card-divider {
   background-color: get-color(secondary);
   color: $light-gray;
   border-bottom: solid 1px black;
 }
 .card-section {
   color: black;
 }
 .progress {
   height: 1.5em;
 }
 .progress-meter {
   background-color: #2a712d;
   color: white;
 }
 
 button {
   margin-bottom: 0;
 }
 
 .menu-edit {
  // background-color: $white; 
  background-color: get-color(quaternary);
 }

 .goal-menu {
     font-size: 1.5rem;
     color: $black;
 }

.goal-menu-done {
    color: get-color(success);
}

 .goal-menu-delete {
    color: get-color(alert);
 }

 /* ADD GOAL COMPONENT */