@import './_settings.scss';
@import '../../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-everything;

// $foundation-palette: (
//   primary: #370470,
//   secondary: #aaa1b5,
//   tertiary: #4512AE,
//   success: #A1B92E,
//   warning: #FFF573,
//   alert: #ff7373,
// );

body, html {
    background-color: get-color(quaternary);
}

html {
    height: 100%;
}
body {
    height: 100%;
}

.header {
    background-color: get-color(secondary);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

.xenadu-title {
    color: $white;
    letter-spacing: 0.4em;
}

.xenadu-logout {
    margin-left: 15%;
}

.xenadu-content-wrapper {
    background-color: get-color(primary);
    padding: 4%;
    padding-bottom: 10%;
    min-height: 640px;
}

.footer {
    margin-top: 5%;
    min-height: 100px;
    // background-color: get-color(quaternary);
    color: white;
}

.footer span {
    margin-left: 10%;
}

// label {
//     color: $white;
// }

a {
    color: get-color(secondary);
}

.content {
    min-width: 65%;
}

.xenadu-view-content {
    text-align: center;
}

.xenadu-header {
    background-color: get-color(primary);
}

.xenadu-view-subheader {
    text-align: center;
}

.xenadu-form-content {
    text-align: center;
    color: $black;
    //background-color: #673AB7;
    background-color: get-color(primary);
    padding: 2% 8% 2% 8%;
    border-radius: 8px;
    min-height: 20vh;
    margin: 0 auto;
}

.xenadu-header h1 {
    letter-spacing: 1vw;
    margin: 2%;
    margin-bottom: 0;
}

.xenadu-container {
    color: $white;
    background-color: get-color(primary);
    min-height: 60vh;
}

.waiting {
    background-color: get-color(secondary);
}

.xenadu-form-input {
    text-align: center;
}

.xenadu-nav {
    color: $black;
}

.xenadu-nav__links {
    padding-left: 2vw;
}

.xenadu-nav a {
    color: get-color(secondary);
}
.xenadu-nav a:hover {
    color: get-color(warning);
}

.xenadu-menu a {
    color: $black;
}
.xenadu-menu a:hover {
    color: $medium-gray;
}

.xenadu-load-animation {
    text-align: center;
}

.xenadu-action {
    background-color: get-color(action);
    border-radius: 15px;
}

.mini-notification {
    font-size: smaller;
    color: get-color(action);
}

// .xenadu-action:hover {
//     background-color: lighten(get-color(action), 50%);
// }